---
head: Смена пароля
title: Смена пароля
---
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../index.css" rel="stylesheet">
    <title>{{head}}</title>
</head>
<body>

<main class="page">
    <section class="page__content">
        <h1 class="title">{{title}}</h1>
        <div class="user-info">
            {{>input inputClass="input input_fullWidth user-info__input" inputLabel="Старый пароль" inputType="password" inputName="password"}}
            {{>input inputClass="input input_fullWidth user-info__input" inputLabel="Новый пароль" inputType="password" inputName="password"}}
            {{>input inputClass="input input_fullWidth user-info__input" inputLabel="Новый пароль (ещё раз)" inputType="password" inputName="password"}}
        </div>
        <div class="user-action">
            {{> button buttonText="Сохранить" buttonClass="button button_fullWidth user-info__action"}}
        </div>
    </section>
</main>


</body>
</html>