---
id: "root"
buttonText: "Текст"
---
<html>
<head>
    <link href="./src/index.css" rel="stylesheet">
</head>
<body>
<div class="main main_blue" id="{{ id }}"></div>

{{> button buttonText="Текст2" buttonClass="button"}}

<h3>Input Text</h3>


<h3>Chat Preview</h3>
<section class="chat-preview">

</section>

<a href="src/pages/authorization/authorization.hbs">authorization</a>
<a href="src/pages/messenger/messenger.hbs">messenger</a>
<a href="src/pages/registration/registration.hbs">registration</a>
<a href="src/pages/changePassword/changePassword.hbs">changePassword</a>
<a href="src/pages/profile/profile.hbs">profile</a>
<a href="src/pages/editProfile/editProfile.hbs">editProfile</a>
<a href="src/pages/editPassword/editPassword.hbs">editPassword</a>
<a href="src/pages/problem/404.hbs">404</a>
<a href="src/pages/problem/500.hbs">500</a>

</body>
</html>