---
id: "root"
buttonText: "Текст"
---
<html lang="ru">
<head>
    <link href="./src/index.css" rel="stylesheet">
</head>
<body>

<a href="src/pages/authorization/authorization.hbs">authorization</a>
<a href="src/pages/messenger/messenger.hbs">messenger</a>
<a href="src/pages/registration/registration.hbs">registration</a>
<a href="src/pages/profile/profile.hbs">profile</a>
<a href="src/pages/editProfile/editProfile.hbs">editProfile</a>
<a href="src/pages/editPassword/editPassword.hbs">editPassword</a>
<a href="src/pages/problem/404.hbs">404</a>
<a href="src/pages/problem/500.hbs">500</a>

</body>
</html>
