---
id: "root"
buttonText: "Текст"
---
<html lang="ru">
<head>
    <link href="./src/index.css" rel="stylesheet">
</head>
<body>

<!--Тестовая страница со списком выполненных страниц-->
<nav>
    <ul>
        <li class="project-item">
            З <a href="src/pages/authorization/authorization.hbs" class="project-link">authorization</a>
        </li>
        <li class="project-item">
            А <a href="src/pages/messenger/messenger.hbs" class="project-link">messenger</a>
        </li>
        <li class="project-item">
            Ч <a href="src/pages/registration/registration.hbs" class="project-link">registration</a>
        </li>
        <li class="project-item">
            Е <a href="src/pages/profile/profile.hbs" class="project-link">profile</a>
        </li>
        <li class="project-item">
            М <a href="src/pages/editProfile/editProfile.hbs" class="project-link">editProfile</a>
        </li>
        <li class="project-item">
            ? <a href="src/pages/editPassword/editPassword.hbs" class="project-link">editPassword</a>
        </li>
        <li class="project-item">
            ? <a href="src/pages/problem/404.hbs" class="project-link">404</a>
        </li>
        <li class="project-item">
            ? <a href="src/pages/problem/500.hbs" class="project-link">500</a>
        </li>
    </ul>
</nav>

</body>
</html>
