@import url("../../index.css");

.button {
  font-size: 16px;
  color: $primaryColor;
  height: 40px;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: $borderRadius;
  text-decoration: none;
  cursor: pointer;
  background-color: $backgroundColor;

  &_rounded {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  &_fullWidth {
    width: 100%;
  }

  &:hover,
  &:active,
  &:focus {
    color: $activeColor;
    border-color: $activeColor;
  }
}

.link {
  font-size: 14px;
  text-decoration: none;
  color: $secondaryColor;

  &:hover,
  &:focus {
    color: $activeColor;
  }
}
