<main class="page">
  <section class="registration">
    <h1 class="title">Изменение личных данных</h1>
    <label>
      <div class="user-avatar user-avatar_edit">
        <input type="file" name="avatar" class="user-avatar__input" />
      </div>
    </label>
    <form class="form">
      {{{userInfo}}}
      {{{userAction}}}
    </form>
  </section>
</main>
