.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authorization {
    width: 340px;
    height: 450px;
}

.user-info {
    margin-bottom: 42px;

    &__input, &__action {
        margin-bottom: 28px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        display: block;
        width: 100%;
        text-align: center;
    }
}