---
head: Регистрация
title: Регистрация
---
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../index.css" rel="stylesheet">
    <link href="registration.css" rel="stylesheet">
    <title>{{head}}</title>
</head>
<body>

<main class="content">
    <section class="registration">
        <h1 class="title">{{title}}</h1>
        <div class="user-info">
            {{>input inputClass="input input_fullWidth user-info__input" inputLabel="Почта" inputType="text" inputName="login"}}
            {{>input inputClass="input input_fullWidth user-info__input" inputLabel="Логин" inputType="text" inputName="login"}}
            {{>input inputClass="input input_fullWidth user-info__input" inputLabel="Имя" inputType="text" inputName="login"}}
            {{>input inputClass="input input_fullWidth user-info__input" inputLabel="Фамилия" inputType="text" inputName="login"}}
            {{>input inputClass="input input_fullWidth user-info__input" inputLabel="Телефон" inputType="tel" inputName="login"}}
            {{>input inputClass="input input_fullWidth user-info__input" inputLabel="Пароль" inputType="password" inputName="password"}}
            {{>input inputClass="input input_fullWidth user-info__input" inputLabel="Пароль (ещё раз)" inputType="password" inputName="password"}}
        </div>
        <div class="user-action">
            {{> button buttonText="Зарегистрироваться" buttonClass="button button_fullWidth user-info__action"}}
            {{> link linkText="Войти" linkClass="link user-info__action user-info__link"}}
        </div>
    </section>
</main>


</body>
</html>