---
head: Общайтесь
title: Вход
sent: Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.
---
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../index.css" rel="stylesheet">
    <link href="./messenger.css" rel="stylesheet">
    <title>{{head}}</title>
</head>
<body>

<main class="page">
    <article class="chats">
        {{> link linkText="Профиль >" linkClass="link chats__profile-link"}}
        {{>input inputLabelClass="chats__search-label" inputLabel="Поиск" inputClass="input chats__search" inputLabelClass="" inputType="text" inputPlaceholder="Поиск чата 🔍"}}
        <div class="chats-list">
            {{>messagePreview previewClass="messagePreview" previewAvatar="messagePreview__avatar" previewTitle="Ivan"
                    previewMessage="Hello, World" previewDate="15:31" previewCount=4}}
            {{>messagePreview previewClass="messagePreview" previewAvatar="messagePreview__avatar" previewTitle="Alex"
                    previewMessage="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила" previewDate="Sun" }}
            {{>messagePreview previewClass="messagePreview" previewAvatar="messagePreview__avatar" previewTitle="Ivan"
                    previewMessage="Hello, World" previewDate="15:31" previewCount=4}}
            {{>messagePreview previewClass="messagePreview" previewAvatar="messagePreview__avatar" previewTitle="Alex"
                    previewMessage="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила" previewDate="Sun" }}
        </div>
    </article>

    <article class="chat">
        <div class="chat__current-title">Ivan</div>
        <article class="chat__messages">
            <div class="chat__date">19 ноября</div>
            <div class="chat__message chat__received">{{sent}}</div>
            <div class="chat__message chat__sent">Круто!</div>
            <div class="chat__message chat__sent">Мы знакомы?</div>
            <div class="chat__message chat__received">Нет!</div>
            <div class="chat__date">31 декабря</div>
            <div class="chat__message chat__received">Ой, да!</div>
            <div class="chat__message chat__received">...</div>
        </article>

        <div class="chat__footer">
            {{>input inputClass="input input_fullWidth user-info__input" inputLabel="Сообщение" inputType="text" inputName="message"}}
            <div class="chat__footer-buttons">
                {{> button buttonText="Отправить" buttonClass="button chat__footer-button"}}
                {{> button buttonText="+" buttonClass="button button_rounded chat__footer-button"}}
            </div>

        </div>
    </article>
</main>
</body>
</html>
