$primaryColor: #000000;
$secondaryColor: rgba(0, 0, 0, 0.72);
$thirdColor: rgba(0, 0, 0, 0.52);
$fourthColor: rgba(0, 0, 0, 0.1);
$activeColor: indianred;
$backgroundColor: #ffffff;
$borderRadius: 6px;

* {
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

/* Pages */
.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 340px;
  }
}

.user-avatar {
  border-radius: 50%;
  background-color: $fourthColor;
  width: 120px;
  height: 120px;
  margin: 0 auto 22px;

  &__input {
    opacity: 0;
  }

  &_edit {
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      background-color: $activeColor;
    }
  }
}

.user-info {
  margin-bottom: 42px;

  &__input {
    margin-bottom: 28px;
  }

  &__action {
    margin-bottom: 22px;
  }

  &__input,
  &__action {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    width: 100%;
    text-align: center;
  }
}

/* General */
.title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 34px;
  text-align: center;
}

.link {
  font-size: 14px;
  text-decoration: none;
  color: $secondaryColor;

  &:hover,
  &:focus {
    color: $activeColor;
  }
}

.project-item {
  list-style: none;
}

.project-link {
  text-decoration: none;
  color: $fourthColor;

  &:hover,
  &:focus {
    color: $activeColor;
  }
}
