$primaryColor: #000;
$secondaryColor: rgb(0 0 0 / 72%);
$thirdColor: rgb(0 0 0 / 52%);
$fourthColor: rgb(0 0 0 / 10%);
$activeColor: indianred;
$backgroundColor: #fff;
$borderRadius: 6px;

* {
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

/* Pages */
.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 340px;
  }
}

.title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 34px;
  text-align: center;
}

.user-avatar {
  border-radius: 50%;
  background-color: $fourthColor;
  width: 120px;
  height: 120px;
  margin: 0 auto 22px;

  &__input {
    opacity: 0;
  }

  &_edit {
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      background-color: $activeColor;
    }
  }
}
